.header-title {
  font-size: 1.1rem;
  margin: 0 1rem;
  cursor: pointer;
}
.left-side {
  display: flex;
  align-items: center;
  /* padding: 0 0.5rem; */
}

.hello {
  font-size: 1rem;
  margin: 0;
  padding-right: 1rem;
  padding-top: 5px;
}

.usaa-logo-container {
  width: 3rem;
  margin-left: 1rem;
}

.logo-side {
  display: flex;
  align-items: center;
}

.logo-side > * {
  /* margin: 0 0.3rem; */
}
