.header-title {
  font-size: 1.4rem;
  margin: 0 1rem;
  cursor: pointer;
}
.left-side {
  display: flex;
  align-items: center;
  /* padding: 0 0.5rem; */
}

.hello {
  font-size: 1.1rem;
}

.logo-side {
  display: flex;
  align-items: center;
}

.logo-side > * {
  margin: 0 0.3rem;
}
