.wrapper {
  padding: 2rem;
  border: 0.5px solid black;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.split > * {
  /* max-height: 90%; */
  flex: 1;
}
.split {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.unit {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
