.nav-wrapper {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: rgb(18, 57, 91);
  min-width: 15rem;
  min-height: 60%;
  align-items: center;
  margin-right: 10rem;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
}

.nav-hero-title {
  text-align: right;
  margin: 0 2rem;
}

.nav-hero-title > p {
  text-align: center;
}
