.nav-wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  /* background-color: rgb(18, 57, 91); */
  width: 35rem;
  min-height: 60%;
  align-items: center;
  margin-right: 10rem;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--usaa_blue);
}

.nav-hero-title {
  text-align: right;
  margin: 0 2rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-hero-title > p {
  text-align: center;
}

.letter-group {
  display: flex;
}

.letter-group > * {
  margin: 0 0.2rem;
}
