.home-panel {
  padding: 0.5rem 1.5rem;
  background-color: #f4f4f4;
  position: relative;
  min-height: 25rem;
  width: 18rem;
  border-radius: 30px;
  box-shadow: 0px 0px 10px -5px;
  margin: 0 10px;
  text-align: left;
}

.units-container {
  margin-top: 3rem;
}

.panel-units {
  margin-top: 3rem;
}

.panel-unit {
  color: #1b262c;
  font-size: 14px;
  border-top: 3px gray solid;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  cursor: pointer;
}

.home-panel .home-panel-title {
  font-size: 30px;
  color: #086972;
  font-weight: 500;
  cursor: pointer;
}

.reports-count {
  position: absolute;
  top: 0;
  right: 10%;
  width: 3rem;
  height: 4rem;
  background-color: #1b262c;
  border-radius: 0px 0px 10px 10px;
}
