.home-reports-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.report-container {
  background-color: #f4f4f4;
  width: 300px;
  height: 450px;
}

.home-landing-page {
  width: 100%;
  display: flex;
  height: 94%;
  justify-content: center;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.514)),
    url("../../assets/images/slider01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.carsosel-btns-container {
  position: relative;
}

.new-carousel {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  transition: transform 0.8s ease-in-out;
}

.carosel-new-container {
  width: 100%;
  max-width: 900px;
  overflow-x: hidden;
  margin: 6rem auto;
}

.landing-container {
  width: 100%;
}

.carousel-container {
  max-width: 50rem;
  overflow: hidden;
}

.scrolling-btn {
  position: absolute;
  top: 35%;
}

.right-scroll-btn {
  right: 8vw;
}

.left-scroll-btn {
  left: 8vw;
}

.panles-container {
  margin-top: 5rem;
  display: flex;
  gap: 1.5rem;
  width: 84rem;
  margin: 0 auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.wellcome-message {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.wellcome-message h3 {
  font-weight: 400;
}

.wellcome-message .app-name-words {
  display: flex;
  justify-content: center;
}

.home-styled-title {
  margin-left: 0.5rem;
}

.home {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.panel {
  min-height: 30vh;
  border: 0.5px solid black;
  max-width: 30rem;
  margin: 0.5rem 0.3rem;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}

.panel-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  flex-direction: column;
}

.panel-content > * {
  margin: 0.5rem 1rem;
}

.panel-title {
  cursor: pointer;
  color: #fff;
  min-height: 2rem;
  background-color: #12395b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.is-not-active {
  background-color: #d4d4d4;
  cursor: default;
}

.panel-title:hover {
  background-color: #1d4a72;
  transition: background-color 1s;
}

.panel-wrapper {
  padding: 0.5rem 1.5rem;
  /* border: 0.5px solid skyblue; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ampBody {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.kidBody {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}

.kidBody > .panel {
  min-width: 32.5%;
  min-height: 37vh;
  border: 0.5px solid white;
}

.kidBody > .panel {
  min-height: 25vh;
}
