.home-landing-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  /* background-image:  url('../../assets/images/slider01.jpg'),linear-gradient(#000); */
  background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.514)),
    url("../../assets/images/slider01.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.carousel-container {
  max-width: 50rem;
  overflow: hidden;
}

.carousel {
  transition: transform 0.3s ease-in-out;
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 80rem;
}

.triangle {
  /* width: 0; */
  /* height: 0; */
  /* border-style: solid; */
  /* border-color: transparent #f4f4f4 transparent transparent; */
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
  transform: translate(0%, -50%);
  /* opacity: 0.7; */
}

.right-scroll-btn {
  right: 0px;
  /* border-width: 50px 0 50px 122px; */
}

.left-scroll-btn {
  left: 0px;

  /* border-width: 50px 122px 50px 0; */
}

.right-scroll-btn {
  border-width: 50px 0 50px 122px;
  border-color: transparent transparent transparent #f4f4f4;
}

.panles-container {
  margin-top: 5rem;
  display: flex;
  width: 84rem;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.wellcome-message {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.wellcome-message h3 {
  font-weight: 400;
}

.wellcome-message .app-name-words {
  display: flex;
  justify-content: center;
}

.home-styled-title {
  margin-left: 0.5rem;
}

.home {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.panel {
  min-height: 30vh;
  border: 0.5px solid black;
  max-width: 30rem;
  margin: 0.5rem 0.3rem;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}

.panel-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  flex-direction: column;
}

.panel-content > * {
  margin: 0.5rem 1rem;
}

.panel-title {
  cursor: pointer;
  color: #fff;
  min-height: 2rem;
  background-color: #12395b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.is-not-active {
  background-color: #d4d4d4;
  cursor: default;
}

.panel-title:hover {
  background-color: #1d4a72;
  transition: background-color 1s;
}

.panel-wrapper {
  padding: 0.5rem 1.5rem;
  /* border: 0.5px solid skyblue; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ampBody {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}

.kidBody {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}

.kidBody > .panel {
  min-width: 32.5%;
  min-height: 37vh;
  border: 0.5px solid white;
}

.kidBody > .panel {
  min-height: 25vh;
}
